*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'sf-pro-display';
    src: url('../fonts/SF-Pro-Display-Regular.woff2') format('woff2'), url('../fonts/SF-Pro-Display-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'sf-pro-display';
    src: url('../fonts/SF-Pro-Display-Bold.woff2') format('woff2'), url('../fonts/SF-Pro-Display-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: 'spaceagecyrillic';
    src: url('../fonts/spaceagecyrillic-regular.woff2') format('woff2'), url('../fonts/spaceagecyrillic-regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}
body {
    font-family: 'sf-pro-display';
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    color: #fff;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}
.title {
    font-family: 'spaceagecyrillic';
    padding: 100px 0;
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
}
.menu-btn {
   display: none;
    width: 40px;
    height: 30px;
    padding: 0;
    position: relative;
    z-index: 20;
}
.menu-btn span {
    display: block;
    height: 2px;
    background-color: #fff;
    position: relative;
}
.menu-btn span::before,
.menu-btn span::after {
    content: '';
    width: 40px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
}
.menu-btn span::before {
    top: -10px;
}
.menu-btn span::after {
    top: 10px;
}
.button {
    text-transform: uppercase;
    border: 1px solid #fff;
    font-size: 18px;
    line-height: 21px;
    padding: 20px 45px;
}
.header {
    background-image: url('../images/header-bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    /*position: relative;*/
}
/*.header::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    background: linear-gradient(180deg, #010203 0%, rgba(1, 2, 3, 0.5) 20%);
    transform: rotate(-180deg);
    opacity: 0.8;
}*/
.header__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.header__top {
    padding: 75px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list {
    display: flex;
}
.menu__item {
    margin-right: 30px;
}
.menu__link {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
    transition: color .5s;
}
.menu__link:hover {
    color: #CB0E0E;
}
.phone {
    font-size: 29px;
    line-height: 24px;
    margin-left: auto;
    margin-right: 22px;
}
.login {
    margin-right: 134px;
}
.header__content {
    max-width: 600px;
}
.header__title {
    font-family: 'spaceagecyrillic';
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 20px;
}
.header__title span {
    font-size: 110px;
    text-border: 1px solid #000;
}
.header__text {
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.header__btn {
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    border: 1px solid #fff;
    padding: 15px 10px 16px;
}
.header__description {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5%;
    margin-top: 40px;
}
.header__description-text {
    font-size: 14px;
    line-height: 17px;
    width: 165px;
}

.header__description-text + .header__description-text {
    margin-left: 52px;
}
.about {
    background-image: url('../images/about-bg.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.about__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 150px;
}
.about--img {
    max-width: 100%;
}
.about__content {
    width: 600px;
}
.about__content-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 5px;
}
.about__content-subtitle {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: #036CCA;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.about__content-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}
.about__content-text p {
    width: 165px;
}
.about__table {
    margin-bottom: 50px;
}
.about__table-caption {
    caption-side: bottom;
    margin-top: 20px;
    text-align: left;
    font-size: 12px;
    line-height: 14px;
}
.about__table-tr {
    border: 1px solid #fff;
    border-left: none;
    border-right: none;
}
.about__table-tr + .about__table-tr {
    font-size: 36px;
    line-height: 43px;
    font-weight: bold;
    text-align: center;
}
.about__table-td {
    padding: 10px 30px 10px 0;
}
.about__table-td span {
    font-size: 14px;
    line-height: 17px;
    display: block;
}
.about__item:nth-child(odd) {
    flex-direction: row-reverse;
}
.how-to {
    background-image: url('../images/how-to-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 100px;
}
.how-to__box {
    text-align: center;
}
.how-to__box circle,
.how-to__box text,
foreignObject {
    transition: all .5s;
    cursor: pointer;
    font-size: 18px;
}
.how-to__box g:hover circle {
    r: 20px;
    fill: #036CCA;
}
.how-to__box g:hover text {
    fill: #036CCA;
    font-size: 36px;
}
.how-to__box g:hover foreignObject {
    color: #036CCA;
    font-size: 22px;
}
foreignObject {
    text-align: left;
}
.to-book {
    background-image: url('../images/to-book-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 100vh;
}
.to-book__inner {
    display: flex;
    justify-content: space-between;
}
.to-book__text {
    width: 165px;
    font-size: 14px;
    line-height: 17px;
    margin-right: 52px;
    margin-left: auto;
    margin-top: 100px;
}
.to-book__text + .to-book__text {
    margin-right: 0;
    margin-left: 0;
}
.info {
    background-image: url('../images/info-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 100px;
}
.special-offer__inner {
    display: flex;
    justify-content: space-between;
}
.special-offer__item {
    width: 500px;
}
.special-offer__item-box {
    margin-bottom: 25px;
    padding: 40px 75px;
    text-align: center;
    border: 1px solid #fff;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.special-offer__item-text {
    font-size: 24px;
    line-height: 29px;
    width: 236px;
    margin: 0 auto;
}
.special-offer__item-text span {
    color: #CB0E0E;
}
.special-offer__new-price {
    font-size: 48px;
    line-height: 57px;
}
.special-offer__old-price {
    text-align: right;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 16px;
    position: relative;
}
.special-offer__old-price::before {
    content: '';
    position: absolute;
    width: 68px;
    height: 1px;
    background-color: #CB0E0E;
    top: 7px;
    right: 0;
    transform: rotate(15deg)
}
.special-offer__btn {
    width: 100%;
}
.services {
    padding-bottom: 200px;
}
.services__inner {
    display: flex;
    justify-content: space-between;
}
.services__box-list {
    width: 620px;
    margin-right: 80px;
    font-size: 24px;
    line-height: 29px;
}
.services__list-title {
    margin-bottom: 25px;
}
.services__list {
    list-style: none;
    margin-bottom: 25px;
}
.services__list-item {
    padding-left: 36px;
    position: relative;
}
.services__list-item::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    top: 4px;
    left: 0;
}
.services__description {
    font-size: 12px;
    line-height: 14px;
}
.services__buttons {
    width: 500px;
}
.services__btn {
    width: 100%;
}
.services__btn--first {
    margin-bottom: 50px;
    position: relative;
}
.services__btn--first::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 40px;
    width: 192px;
    height: 150px;
    background-image: url('../images/photo.png');
}
.slider {
    text-align: center;
}
.slider__inner {
    margin-bottom: 50px;
    border: 1px solid #fff;
    padding: 100px 0;
}
.slider__description {
    font-family: 'spaceagecyrillic';
    font-size: 24px;
    line-height: 30px;
}
.slider__box-img {
    margin: 0 auto;
}
.slider__arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 5;
}
.slider__arrow-left {
    left: 75px;
}
.slider__arrow-right {
    right: 75px;
}
.contacts {
    background-color: #010203;
    padding-bottom: 100px;
}
.contacts__inner {
    display: flex;
    justify-content: space-between;
}
.contacts__box {
    width: 500px;
}
.contacts__box-text {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 80px;
}
. contacts__title {
    padding-bottom: 46px;
}
.contacts__form-input {
    background-color: #010203;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
    color: #fff;
    font-family: 'sf-pro-display';
    font-size: 14px;
    line-height: 17px;
    padding: 20px 0;
    width: 100%;
}
.contacts__form-input::placeholder {
    color: #fff;
    font-family: 'sf-pro-display';
    font-size: 14px;
    line-height: 17px;
}
.contacts__btn {
    margin-top: 70px;
    width: 100%;
}
.contacts__guarantees {
    width: 500px;
}
.contacts__guarantees-text {
    font-size: 24px;
    line-height: 29px;
}
.contact__guarantees-img {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}
.footer {
    background-image: url('../images/footer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 100px 0 150px;
}
.footer__inner {
    display: flex;
    justify-content: flex-end;
}
.footer__text {
    width: 165px;
    margin-right: 50px;
}
.footer__text p + p {
    margin-top: 50px;
}
.footer__menu {
    list-style: none;
    width: 120px;
    margin-right: 95px;
}
.footer__links {
    list-style: none;
    width: 165px;

}
.footer__menu-item,
.footer__links-item {
    margin-bottom: 20px;
}
.footer__links-link,
.footer__menu-link {
    text-transform: uppercase;
    transition: color .5s;
}
.footer__links-link:hover,
.footer__menu-link:hover {
    color: #CB0E0E;
}
@media(max-width: 1235px) {
    .header__content {
        margin: 0 auto;
    }
    .header__description {
        justify-content: center;
    }
    .header__description-text {
        font-size: 20px;
    }
    .about__item {
        flex-direction: column;
        align-items: center;
    }
    .about__item img {
        width: 500px;
        display: block;
        margin-bottom: 30px;
    }
    .about__item:nth-child(odd) {
        flex-direction: column;
    }
    .title {
        text-align: center;
    }
    .special-offer__inner,
    .services__inner,
    .contacts__inner {
        flex-direction: column;
        align-items: center;
    }
    .services__box-list {
        margin-bottom: 150px;
    }
    .contacts__guarantees-text {
        margin-bottom: 20px;
    }
}
@media (max-width: 1048px) {
    .login {
        margin-right: 0;
    }
}
@media (max-width: 950px) {
    .to-book__inner {
        flex-direction: column;
        align-items: center;
    }
    .to-book__text:first-of-type {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .to-book__text {
        margin-top: 0;
    }
}
@media (max-width: 920px) {
    .header{
        background-position: center right;
    }
    .header__top {
        padding-top: 30px;
    }
    .menu-btn {
        display: block;
    }
    .menu__list {
        transform: translateY(-150%);
        display: block;
        position: absolute;
        top: 0;
        background-color: #010203;
        left: 0;
        padding-top: 90px;
        width: 100%;
        right: 0;
        padding-bottom: 30px;
        text-align: center;
        transition: all .5s;
    }
    .menu__list.active {
        transform: translate(0);
    }
    .menu__item {
        padding: 15px 0;
    }
    .phone,
    .login {
        position: relative;
        z-index: 20;
    }
    .header__content {
        margin: 0 auto;
    }
    .header__description {
        justify-content: center;
    }

    .about__content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .how-to__box svg {
        width: 650px;
        height: 400px;
        viewBox: 0 0 650 400;
    }
    .services__box-list {
        width: 500px;
    }
}
@media (max-width: 620px) {
    .header__title {
        font-size: 34px;
        line-height: 30px;
    }
    .header__title span {
        font-size: 60px;
    }
    .header__content {
        text-align: center;
    }
    .header__text {
        justify-content: center;
        font-size: 18px;
    }
    .header__text p {
        padding: 0 10px;
    }
    .header__btn {
        font-size: 18px;
        line-height: 24px;
        width: 60%;
    }
    .header__description {
        display: block;
    }
    .header__description-text {
        width: 100%;
        text-align: center;
    }
    .header__description-text + .header__description-text {
        margin-left: 0;
        margin-top: 20px;
    }
    .about__item img {
        width: 300px;
        display: block;
        margin-bottom: 30px;
    }

    .about__table {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .about__table-td {
        font-size: 15px;
        padding: 10px 10px 10px 0;
    }
    .about__table-td span {
        font-size: 10px;
    }
    .about__table {
        align-self: flex-start;
    }
    .about__content-title,
    .about__content-subtitle {
        text-align: center;
    }
    .about__content-text {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .about__content-text p {
        margin-bottom: 20px;
    }
    .button{
        display: table;
        margin: 0 auto
    }
    tbody {
        display: table;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    tr {
        display: block;
        float: left;
    }
    th, td {
        display: block;
    }
    tr:first-of-type td {
        padding: 31px 0;
        margin-right: 20px;
    }
    tr:first-of-type {
        border: none;
        border-right: 1px solid #fff;
    }
    tr:last-of-type {
        border: none;
    }
    tr:last-of-type td {
        margin-left: 20px;
    }
    .how-to__box svg {
        width: 550px;
        height: 300px;
        viewBox: 0 0 550 300;
    }
    .about__table-caption {
        text-align: center;
    }
    .title {
        font-size: 34px;
    }
    .special-offer__item {
        width: 450px;
    }
    .special-offer__new-price {
        font-size: 40px;
    }
    .services__box-list,
    .services__buttons {
        width: 350px;
    }
    .services__btn--first::before {
        bottom: 60px;
    }
    .contacts__guarantees-text,
    .contacts__box-text {
        font-size: 18px;
    }
    .contact__guarantees-img {
        margin: 0 auto;
    }
    .contacts__box,
    .contacts__guarantees {
        width: 450px;
    }
}
@media (max-width: 500px) {
    .about__content {
        width: 400px;
    }
    .how-to__box svg {
        width: 400px;
        height: 200px;
        viewBox: 0 0 450 200;
    }
    .title {
        font-size: 28px;
    }
    .special-offer__item {
        width: 350px;
    }
    .special-offer__item-text {
        width: 200px;
    }
    .services__box-list,
    .services__buttons {
        width: 250px;
    }
    .contacts__box,
    .contacts__guarantees {
        width: 350px;
    }
    .contact__guarantees-img {
        width: 300px;
    }
}
@media (max-width: 375px) {
    .header__top {
        flex-wrap: wrap;
    }
    .phone {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }
    .menu,
    .login {
        order: -1;
    }
    .menu__list {
        padding-top: 110px;
    }
    .header__title {
        font-size: 28px;
    }
    .header__title span {
        font-size: 32px;
    }
    .header__btn {
        width: 90%;
        font-size: 16px;
    }
    .about__content {
        width: 280px;
    }
    .about__item img {
        width: 280px;
    }
    .title {
        font-size: 24px;
    }
    .special-offer__item {
        width: 300px;
    }
    .special-offer__new-price {
        font-size: 30px;
    }
    .special-offer__item-text {
        width: 150px;
    }
    .services__box-list,
    .services__buttons {
        width: 220px;
        margin-left: 20px;
    }
    .services__btn--first::before {
        bottom: 80px;
    }
    .contacts__box,
    .contacts__guarantees {
        width: 250px;
    }
    .contact__guarantees-img {
        width: 250px;
    }
}
